@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <div class="alert alert-primary" role="alert">
        Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>
    </div>
    
</div>
